In [1]:
import pandas as pd
import os
import glob
import matplotlib
import seaborn as sns
import nltk
os.chdir("C:\\Users\Dell\Downloads\Predicting-stock-prices-for-large-cap-technology-companies-DS-II\Datasets of Stocks Market and Stock News Articles\Stocks News Articles Datasets")

In [2]:
extension="CSV"
file_name=[i for i in glob.glob('*.{}'.format(extension))]
## combining all files in the list

du=pd.concat([pd.read_csv(f) for f in file_name])


##Saving as csv file

du.to_csv("df.csv",index=False)

In [4]:
du.head()

         Date                                          Headlines
0  2015-01-01  What Can We Expect From Apple Inc. In 2015? 1 ...
1  2015-01-02  What to expect from Apple in 2015 beyond its s...
2  2015-01-03  Mountie: An inexpensive and innovative way to ...
3  2015-01-04  Donald Yacktman on the Sources of Moats, His C...
4  2015-01-05  SIM-free iPhone 6, 6 Plus reportedly debuting ...

In [5]:
du.tail()

           Date                                          Headlines
169  2021-06-19  Best pre-Prime Day smartwatch deals on Apple W...
170  2021-06-20  iPhone 13 rumors: As Apple's fall event gets c...
171  2021-06-21  Apple is shortening new free TV Plus trials fr...
172  2021-06-22  Google likely to soon face antitrust claims ov...
173  2021-06-23  French court sets date in Apple case over App ...

## Text Preprocessing Starts


To preprocess your text simply means to bring your text into a form that is predictable and analyzable for your task. A task here is a combination of approach and domain.

Text mining also referred to as text analytics. Text mining is a process of exploring sizeable textual data and find patterns. Text Mining process the text itself, while NLP process with the underlying metadata.

### 1. Changing the headlines into lowercase

In [7]:
for col in du.columns:
    du[col]=du[col].str.lower()
du.head(10)

         Date                                          Headlines
0  2015-01-01  what can we expect from apple inc. in 2015? 1 ...
1  2015-01-02  what to expect from apple in 2015 beyond its s...
2  2015-01-03  mountie: an inexpensive and innovative way to ...
3  2015-01-04  donald yacktman on the sources of moats, his c...
4  2015-01-05  sim-free iphone 6, 6 plus reportedly debuting ...
5  2015-01-06  technology transforming cars into "phones on w...
6  2015-01-07  apple issues fourth developer beta of os x 10....
7  2015-01-08  apple company recalls 2014 shipments after lin...
8  2015-01-09  samsung is reportedly making a secret new chip...
9  2015-01-10  eight years ago, steve jobs unveiled iphone an...

### 2. Removing unwanted characters

Removal of Punctuations One another common text preprocessing technique is to remove the punctuations from the text data. This is again a text standardization process that will help to treat 'hurray' and 'hurray!' in the same way.

In [8]:
import string
PUNCT_TO_REMOVE = string.punctuation
def clean(text):
    """custom function to remove the punctuation"""
    
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))


du["Headlines"] = du["Headlines"].apply(lambda text: clean(text))
du.head()

         Date                                          Headlines
0  2015-01-01  what can we expect from apple inc in 2015 1 re...
1  2015-01-02  what to expect from apple in 2015 beyond its s...
2  2015-01-03  mountie an inexpensive and innovative way to a...
3  2015-01-04  donald yacktman on the sources of moats his co...
4  2015-01-05  simfree iphone 6 6 plus reportedly debuting to...

### Text Normalization

When we normalize text, we attempt to reduce its randomness, bringing it closer to a predefined “standard”. This helps us to reduce the amount of different information that the computer has to deal with, and therefore improves efficiency. The goal of normalization techniques like stemming and lemmatization

In [9]:
import nltk
from nltk.tokenize import word_tokenize, RegexpTokenizer
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### 3. Removing stopwords

In [10]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

du["Headlines"] = du["Headlines"].apply(lambda text: remove_stopwords(text))
du.head()

         Date                                          Headlines
0  2015-01-01  expect apple inc 2015 1 reason might wrong app...
1  2015-01-02  expect apple 2015 beyond smartwatch amazonquot...
2  2015-01-03  mountie inexpensive innovative way attach ipho...
3  2015-01-04  donald yacktman sources moats concern applequo...
4  2015-01-05  simfree iphone 6 6 plus reportedly debuting to...

### 4.Tokenizing and Lammetizing

In [11]:
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

du["Headlines"] = du["Headlines"].apply(lambda text: lemmatize_words(text))
du.head()

         Date                                          Headlines
0  2015-01-01  expect apple inc 2015 1 reason might wrong app...
1  2015-01-02  expect apple 2015 beyond smartwatch amazonquot...
2  2015-01-03  mountie inexpensive innovative way attach ipho...
3  2015-01-04  donald yacktman source moat concern applequots...
4  2015-01-05  simfree iphone 6 6 plus reportedly debuting to...

In [12]:
du.tail()

           Date                                          Headlines
169  2021-06-19  best preprime day smartwatch deal apple watch ...
170  2021-06-20  iphone 13 rumor apple fall event get closer se...
171  2021-06-21  apple shortening new free tv plus trial year t...
172  2021-06-22  google likely soon face antitrust claim play s...
173  2021-06-23  french court set date apple case app store dev...

In [13]:
du

           Date                                          Headlines
0    2015-01-01  expect apple inc 2015 1 reason might wrong app...
1    2015-01-02  expect apple 2015 beyond smartwatch amazonquot...
2    2015-01-03  mountie inexpensive innovative way attach ipho...
3    2015-01-04  donald yacktman source moat concern applequots...
4    2015-01-05  simfree iphone 6 6 plus reportedly debuting to...
..          ...                                                ...
169  2021-06-19  best preprime day smartwatch deal apple watch ...
170  2021-06-20  iphone 13 rumor apple fall event get closer se...
171  2021-06-21  apple shortening new free tv plus trial year t...
172  2021-06-22  google likely soon face antitrust claim play s...
173  2021-06-23  french court set date apple case app store dev...

[2365 rows x 2 columns]